.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.input,
.button {
  width: 400px;
  height: 48px;
  border: 1px solid #e4e4e4;
}

.input {
  padding: 0px 20px;
  transition: all 0.3s ease;
}

.input:focus,
.button:focus {
  border: 1px solid #282828;
}

.input::placeholder {
  font-size: 12px;
  font-weight: 600;
}

.input[type='text'],
.input[type='password'] {
  font-size: 12px;
  font-weight: 600;
}

.button {
  background-color: inherit;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease;
}

.button:hover {
  border: 1px solid #282828;
}
